/*
* @Author: yangxiaoyu
* @Date:   2018-11-17 11:05:54
* @Last Modified by:   yangxiaoyu
* @Last Modified time: 2018-11-18 20:02:37
*/
.cate-select{
	width: 160px;
	margin-right: 15px;
	display: inline-block;
}