/*
* @Author: yangxiaoyu
* @Date:   2018-11-13 20:57:02
* @Last Modified by:   yangxiaoyu
* @Last Modified time: 2018-11-13 21:06:19
*/
.page-header-right{
	position: absolute;
	right: 15px;
	top: 12px;
}