/*
* @Author: yangxiaoyu
* @Date:   2019-05-22 21:38:21
* @Last Modified by:   yangxiaoyu
* @Last Modified time: 2019-05-23 20:05:06
*/
.btn-send-goods{
	margin-left: 10px;
}
.p-img{
	display: block;
	width: 80px;
	height: 80px;
}